{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="hero">

    <div class="heroimage">
        <div class="herocontent shadow text-center">
            <h2>Welcome to Old And Gold</h2>
            <p class="bigfont">Exclusive pieces from Rolex, Omega and Patek.</p>
            <p>Old And Gold offers 100% authentic watches. There is only one of each watch <br> and the collection is rare and hackpicked from all corners fo the world. </p>
            <a href="{% url 'products' %}" class="greybutton">See all watches
                <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>
<div class="staffpicks">
    <h2 class="text-center">Our Collection</h2>
    <div class="row">
        <div class="col-sm text-center">
            <div class="roleximage">
                <div class="bgoverlay py-5">
                    <h3>Rolex</h3>
                    <p class="py-3">With a history from military watches and absolute fine luxury pieces.
                        We have picked a unique selection from golden Skydwellers to spider dial Submarines.</p>
                    <a href="{% url 'products' %}?category=Rolex">
                        <button class="greybutton">Shop Rolex</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm text-center">
            <div class="omegaimage">
                <div class="bgoverlay py-5">
                    <h3>Omega</h3>
                    <p class="py-3">With a history from military watches and absolute fine luxury pieces.
                        We have picked a unique selection from golden Skydwellers to spider dial Submarines.</p>
                    <a href="{% url 'products' %}?category=Omega">
                        <button class="greybutton">Shop Omega</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm text-center">
            <div class="patekimage">
                <div class="bgoverlay py-5">
                    <h3>Patek Philippe</h3>
                    <p class="py-3">With a history from military watches and absolute fine luxury pieces.
                        We have picked a unique selection from golden Skydwellers to spider dial Submarines.</p>
                    <a href="{% url 'products' %}?category=Patek">
                        <button class="greybutton">Shop Patek</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="text-center vintagered text-light py-5">
    <h3 class="pt-4">By enthusiasts for enthusiasts</h3>
    <p class="text-light">We have more than 25 years of expericene of collection and selling exlusive watches. 
        <br> Come visit out HQ in Stockholm om Biblioteksgatan 34, Stockholm.</p>   
</div>

{% endblock %}