{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="hero">
    <div class="row">
                <div class="col-m-6 col-lg-6 col-sm-4">
                    <div class="row">
                        <img src="/media/threewatches.jpg" class="images" alt="">
                    </div>
                </div>
                <div class="col-m-6 col-lg-6  col-sm-4 text-center my-5">
                    <h2>Unique vintage watches</h2>
                    <h3>- Exclusive pieces from Rolex, Omega and Patek.</h3>
                    <p>Old And Gold offers 100% authentic watches. There is only one of each watch. </p>
                    <a href="#" class="cta-button">See all watches <i class="fas fa-arrow-circle-right"></i></a>
                </div>
                </div>
</div>
<div class="staffpicks">
    <h2 class="text-center">Staff picks:</h2>
    <div class="row text">
        <div class="col-lg-3 text-center col-s-6">
            <h4>Rolex Explorer</h4>
        </div>
        <div class="col-lg-3 text-center col-s-6">
            <h4>Rolex Explorer 2</h4>
        </div>
        <div class="col-lg-3 text-center col-s-6">
            <h4>Omega Geneve</h4>
        </div>
        <div class="col-lg-3 text-center col-s-6">
            <h4>Omega Geneve</h4>
        </div>
    </div>
</div>
<div class="text-center vintagered text-light py-5">
    <h3 class="pt-4">By enthusiasts for enthusiasts</h3>
    <p class="text-light">We have more than 25 years of expericene of collection and selling exlusive watches. 
        <br> Come visit out HQ in Stockholm om Biblioteksgatan 34, Stockholm.</p>   
</div>

{% endblock %}