@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Satisfy&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    color: #536162;
}

html {
    height: 100%
} 

/*________________________________________________Images */

.heroimage {
    background-image: url(/media/vintageshop.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 20px;
}

.roleximage {
    background-image: url(/media/rolexsubmariner1.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.omegaimage {
    background-image: url(/media/omegaflight.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.patekimage {
    background-image: url(/media/patekgeneve.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.images {
    width: 50%;
}

.image-container img {
    width: 100%;
}
/*________________________________________________Fonts */
p {
    color: #424642;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    font-family: 'Satisfy', cursive !important;
    font-size: 35px;
    color: #536162;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

h4 {
    font-family: 'Satisfy', cursive !important;
    font-weight: 300;
    font-size: 30px;
}

.herocontent h2 {
    font-family: 'Satisfy', cursive !important;
}

.navbar {
    margin:5px !important;
    padding: 0px !important;
}

.bigfont {
    font-size: 18px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.beige {
    background-color: #f3f4ed;
}

/*________________________________________________Colours */

.staffpicks {
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero {
    height: 500px;
    margin: auto;
}
.herocontent {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;

}

.bgoverlay {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;

}

.bgoverlay p {
    width: 50%;
    margin: auto;
    font-size: 15px;
    line-height: 25px
}



.oldgrey {
    color: #424642 !important;
}

.bg-oldgrey {
    background-color: #424642 !important;
}

.bg-lightgrey {
    background-color: #536162 !important;
}

/*________________________________________________Buttons */

.orangebutton {
    background-color: #c06014;
    text-transform: uppercase;
    color: #f3f4ed;
    padding: 7px;
    margin: 5px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    margin: auto;
    text-align: center;
}


.greybutton {
    background-color: #536162;
    text-transform: uppercase;
    color: #f3f4ed;
    padding: 7px;
    margin: 5px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    margin: auto;
    text-align: center;
}

.orangebutton:hover {
    background-color: #536162;
    color: #f3f4ed;
    text-decoration: none;
}

.greybutton:hover {
    background-color: #c06014;
    color: #f3f4ed;
    text-decoration: none;
}

.vintagered {
    background-color: #c06014;
}

.cta-button {
    background-color: #c06014;
    padding: 10px;
    color: #f3f4ed;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.buybutton {
    background-color: #c06014;
    text-transform: uppercase;
    color: #f3f4ed;
    padding: 7px;
    margin: 5px;
    font-weight: 700;
    font-size: 15px;
    border: none;
    margin: auto;
    width: 100%;
    text-align: center;
}

.buybutton:hover {
    background-color: #424642;
}

.addtobutton {
    background-color: #424642;
    text-transform: uppercase;
    color: #f3f4ed;
    padding: 7px;
    margin: 5px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    margin: auto;
    width: 80%;
    text-align: center;
}

.addtobutton:hover {
    background-color: #c06014;
    color: #f3f4ed;
    text-decoration: none;
}


.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Allauth forms */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #424642;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/*-------------------- Media Queries */
@media (max-width: 992px){
    .mobile-font {
        font-size: 10px !important;
    }

    .mobile-hide {
        display: none;
    }

    .logo {
    font-size: 15px;
    }

    .bgoverlay p {
    width: 80%;
    margin: auto;
    font-size: 15px;
    line-height: 25px
    }

}
@media (min-width: 992px) {
    .fixed-top-dektop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .header-container {
        padding-top: 165px;
    }

    .hide-desktop {
    display: none;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 110px;
    }
}
