{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-4 pt-5">
                <h2 class="text-center">Product Management</h2>
                <h5 class="text-center">Edit product</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-4 mb-5">
                <form action="{% url 'edit_product' product.id %}" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center">
                        <a href="{% url 'products' %}"><button class="greybutton">Cancel</button></a>
                        <button class="orangebutton" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
