<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
  <div class="toast-header bg-success">
    <strong class="mr-auto text-white"><i class="fas fa-check"></i> Success!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{ message }}
 
  </div>

    <div class="container">
    {% if total and not on_profile_page %}
       <hr>
        {% for item in bag_items %}
        <div class="row align-middle">
            <div class="col-4 my-1 align-middle">
                <img src="{{ item.product.image.url }}" class="w-100" alt="">
            </div>
            <div class="col-4 my-1 align-middle">
                <p class="small">{{ product.brand }} {{ product.name }}</p>
            </div>
            <div class="col-4 my-1 align-middle">
                <p class="small">${{ product.price }}</p>
            </div>
        </div>
            <hr>
            <div class="text-right">
            <p><strong>Total:</strong>  {{ total }}</p>
        </div>
        {% endfor %}
    {% endif %}
  
    </div>
</div>